@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import './reset';

body {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    margin: 0;
}

.header {
    background: url(../assets/images/pattern-bg-mobile.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 30dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    h1 {
        margin-bottom: .5rem;
        color: #fff;
        font-weight: 500;
    }

    .input-field {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100px;
        margin-bottom: 15px;
        padding: 0 1rem;

        input[type="text"] {
            width: 70%;
            height: 60%;
            padding: 1.5rem;
            border: 1px solid #ccc;
            border-radius: 15px 0 0 15px;
            font-size: 18px;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            &:focus {
                outline: none;
            }
        }

        button.submit {
            height: 60%;
            width: 15%;
            background-color: #000;
            color: #fff;
            border: none;
            border-radius: 0 15px 15px 0;
            cursor: pointer;

            &:hover {
                background-color: hsl(0, 0%, 17%);
            }
        }
    }
}

section {
    position: relative;
    width: 100%;
    height: 70dvh;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 1rem;
        padding: 1rem;
        border-radius: 15px;
        background-color: #fff;
        position: absolute;
        top: -15%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        width: 80%;
        height: max-content;
        transition: all 0.3s ease-in-out;
        
    
        .data {
            margin-bottom: 1rem;
    
            h4 {
                margin: 0;
                font-size: 120%;
                margin-top: .5rem;
                color: hsl(0, 0%, 17%);
            }
    
            small {
                font-size: 80%;
                font-weight: 500;
                color: hsl(0, 0%, 59%);
            }
        }
    }

    .leaflet-container {
        height: 100%;
        z-index: 1;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .header {
        background: url(../assets/images/pattern-bg-desktop.png) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        .input-field {
            width: 60%;
        }
    }

    section {
        .container {
            width: 50%;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header {
        .input-field {
            width: 50%;
        }
    }

    section {
        .container {
            margin: 0;
            width: 90%;
            height: 180px;
            gap: 1rem;
            flex-direction: row;
            

            .data {
                position: relative;
                height: 100%;
                width: 25%;
                padding: 2rem 1.5rem;
                text-align: start;

                &:not(:first-child):after {
                    content: '';
                    height: 50%;
                    width: 1px;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: #ccc;
                }

                h4 {
                    margin-top: 1rem;
                    font-size: 120%;
                }

                .location, .isp {
                    text-wrap: wrap;
                }
            }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .header {
        .input-field {
            width: 70%;

            button.submit {
                width: 8%;
            }
        }
    }

    section {
        .container {
            .data {
                h4 {
                    font-size: 150%;
                }
            }
        }
    }
}
