@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  margin: 0;
}

.header {
  background: url(../assets/images/pattern-bg-mobile.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 30dvh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header h1 {
  margin-bottom: 0.5rem;
  color: #fff;
  font-weight: 500;
}
.header .input-field {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
  padding: 0 1rem;
}
.header .input-field input[type=text] {
  width: 70%;
  height: 60%;
  padding: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 15px 0 0 15px;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.header .input-field input[type=text]:focus {
  outline: none;
}
.header .input-field button.submit {
  height: 60%;
  width: 15%;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}
.header .input-field button.submit:hover {
  background-color: hsl(0, 0%, 17%);
}

section {
  position: relative;
  width: 100%;
  height: 70dvh;
}
section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 15px;
  background-color: #fff;
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 80%;
  height: -moz-max-content;
  height: max-content;
  transition: all 0.3s ease-in-out;
}
section .container .data {
  margin-bottom: 1rem;
}
section .container .data h4 {
  margin: 0;
  font-size: 120%;
  margin-top: 0.5rem;
  color: hsl(0, 0%, 17%);
}
section .container .data small {
  font-size: 80%;
  font-weight: 500;
  color: hsl(0, 0%, 59%);
}
section .leaflet-container {
  height: 100%;
  z-index: 1;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header {
    background: url(../assets/images/pattern-bg-desktop.png) no-repeat center center;
    background-size: cover;
  }
  .header .input-field {
    width: 60%;
  }
  section .container {
    width: 50%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header .input-field {
    width: 50%;
  }
  section .container {
    margin: 0;
    width: 90%;
    height: 180px;
    gap: 1rem;
    flex-direction: row;
  }
  section .container .data {
    position: relative;
    height: 100%;
    width: 25%;
    padding: 2rem 1.5rem;
    text-align: start;
  }
  section .container .data:not(:first-child):after {
    content: "";
    height: 50%;
    width: 1px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ccc;
  }
  section .container .data h4 {
    margin-top: 1rem;
    font-size: 120%;
  }
  section .container .data .location, section .container .data .isp {
    text-wrap: wrap;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header .input-field {
    width: 70%;
  }
  .header .input-field button.submit {
    width: 8%;
  }
  section .container .data h4 {
    font-size: 150%;
  }
}/*# sourceMappingURL=styles.css.map */